<div class="container-lg bg-transparent">
  <form>
    <div class="mb-4 mt-2 text-center">
      <h1 style="font-size: 3em;">Conversor de Medidas</h1>
    </div>

    <div style="margin-bottom: 10px;">

      <p style="display: inline-block;">
        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
          Selecionar medida
          <ion-icon class="position-relative" name="chevron-down-outline" style="font-size: 1.2em; top: 4px;"></ion-icon>
        </button>
      </p>
      <input type="text" style="border: none; margin-left: 2%; font-size: 18px;" [value]="txtBtn" name="txtBtn" readonly>
      <div>
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <ul class="list-group mb-4" style="cursor: pointer;">
              <li class="list-group-item" (click)="selecionarMedida(1, 1)">Metros (M)</li>
              <li class="list-group-item" (click)="selecionarMedida(2, 1)">Centímetros (Cm)</li>
              <li class="list-group-item" (click)="selecionarMedida(3, 1)">Polegadas (In)</li>
              <li class="list-group-item" (click)="selecionarMedida(4, 1)">Pés (Ft)</li>
              <li class="list-group-item" (click)="selecionarMedida(5, 1)">Quilômetros (Km)</li>
              <li class="list-group-item" (click)="selecionarMedida(6, 1)">Milhas (M)</li>
            </ul>
        </div>
      </div>

      <input type="text" name="valorConverter" [(ngModel)]="valorConverter" class="form-control">
    </div>
    <div class="mb-3 mt-5">

      <p style="display: inline-block;">
        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">
          Selecionar medida
          <ion-icon class="position-relative" name="chevron-down-outline" style="font-size: 1.2em; top: 4px;"></ion-icon>
        </button>
      </p>
      <input type="text" style="border: none; margin-left: 2%; font-size: 18px;" [value]="txtBtn2" name="txtBtn2" readonly>
      <div>
        <div class="collapse collapse-horizontal" id="collapseWidthExample2">
            <ul class="list-group mb-4" style="cursor: pointer;">
              <li class="list-group-item" (click)="selecionarMedida(1, 2)">Metros (M)</li>
              <li class="list-group-item" (click)="selecionarMedida(2, 2)">Centímetros (Cm)</li>
              <li class="list-group-item" (click)="selecionarMedida(3, 2)">Polegadas (In)</li>
              <li class="list-group-item" (click)="selecionarMedida(4, 2)">Pés (Ft)</li>
              <li class="list-group-item" (click)="selecionarMedida(5, 2)">Quilômetros (Km)</li>
              <li class="list-group-item" (click)="selecionarMedida(6, 2)">Milhas (M)</li>
            </ul>
        </div>
      </div>

      <input type="text" class="form-control" name="valorConvertido" [(ngModel)]="valorConvertido" readonly>
    </div>

      <div class="text-center">
        <button class="btn btn-warning mt-4" style="font-size: 2em;" (click)="converter()">Converter</button>
      </div>

  </form>
</div>
