<div class="container-lg">
  <form>
    <div class="mb-4 mt-2 text-center">
      <h1 style="font-size: 3em;">Conversor de Medidas</h1>
    </div>

    <div style="margin-bottom: 10px;">

      <p style="display: inline-block;">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
          Selecionar medida
          <ion-icon class="position-relative" name="chevron-down-outline" style="font-size: 1.2em; top: 4px;"></ion-icon>
        </button>
      </p>
      <div>
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body position-absolute" style="width: 300px;">
            <ul class="list-group" style="cursor: pointer;">
              <li class="list-group-item">Metros (M)</li>
              <li class="list-group-item">Centímetros (Cm)</li>
              <li class="list-group-item">Polegadas (In)</li>
              <li class="list-group-item">Pés (Ft)</li>
              <li class="list-group-item">Quilometros (Km)</li>
              <li class="list-group-item">Milhas (M)</li>
            </ul>
          </div>
        </div>
      </div>

      <input type="text" name="num1" class="form-control">
    </div>
    <div class="mb-3 mt-5">

      <p style="display: inline-block;">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">
          Selecionar medida
          <ion-icon class="position-relative" name="chevron-down-outline" style="font-size: 1.2em; top: 4px;"></ion-icon>
        </button>
      </p>
      <div>
        <div class="collapse collapse-horizontal" id="collapseWidthExample2">
          <div class="card card-body position-absolute" style="width: 300px;">
            <ul class="list-group" style="cursor: pointer;">
              <li class="list-group-item">Metros (m)</li>
              <li class="list-group-item">Centímetros (Cm)</li>
              <li class="list-group-item">Polegadas (In)</li>
              <li class="list-group-item">Pés (Ft)</li>
              <li class="list-group-item">Quilometros (Km)</li>
              <li class="list-group-item">Milhas (M)</li>
            </ul>
          </div>
        </div>
      </div>

      <input type="text" class="form-control">
    </div>

      <div class="text-center">
        <button class="btn btn-primary mt-4" style="font-size: 2em;">Converter</button>
      </div>

      <div class="mt-5">
        <h2 class="text-center mb-4" style="font-size: 2.5em;">Resultado</h2>
        <input type="text" name="num1" class="form-control">
      </div>

  </form>
</div>
